<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Jennifer Aniston</string>
		<string>Jennifer Aniston.jpeg</string>
		<string>Jennifer Aniston was born from a family with Hollywood background, hence she become used to the glamor world in her early days. This beautiful lady was born on February, 1969. She started her career with television. She become popular as Rachel Karen Green for her contribution in television sitcom Friends. She almost worked 10 years for this daily soap. After that Big-Screen discovered her. Her best box office success came from the film Bruce Almighty and people started to recognize her as a seasoned actress. First time in history Aniston become the first ever GQ women of the year in the year 2005. Some of her greatest hit films are Rumor has it,Derailed, The break up, along with Bruce Almighty. Aniston deserved 10th place in our most Popular Hollywood Actresses countdown due to her immerse beauty and simplicity. (source: alltoptens.com)</string>
	</array>
	<array>
		<string>Jessica Alba</string>
		<string>Jessica Alba.jpeg</string>
		<string>This 32 year gorgeous lady holds 9th in our Top Ten Popular Hollywood Actresses list due to her popularity and beauty. Jessica Alba started her career with TV shows and later moved toward cinema. Popular TV series Dark Angels provided her the platform to start her film actress career and after that she just boomed Hollywood with films like Sin City Honey,Dark Angel, Fantastic Four. She won several awards such as Nickelodeon Kids’ Choice Awards, Young Hollywood Awards, ALMA Award and many more.(source: alltoptens.com)</string>
	</array>
	<array>
		<string>Emma Stone</string>
		<string>Emma Stone.jpeg</string>
		<string>Emma Stone (Also known as Emily Stone, Riley Stone) was born on November 6, 1988 in Scottsdale, Arizona. She touched the high skies of Hollywood at a very young age (Her debut was with film The Wind in the Willows). The acted on several TV series and movies such as Crazy Stupid Love, Zombieland, Easy A, The help. She was nominated for than 40 awards and won 15 among them. (source: alltoptens.com)</string>
	</array>
	<array>
		<string>Cameron Diaz</string>
		<string>Cameron Diaz.jpeg</string>
		<string>Cameron Diaz the super model, and actress mainly known for her extinguishing work in My Best Friend’s Wedding, Charlies angels, and The Mask. This 41-year-old actress was born on 30th August 1972 in California. The won countless numbers of awards among them notable is four golden globe awards for her contribution in There’s Something About Mary,Vanilla Sky, Being John Malkovich and Gangs of New York. Due to her immense beauty and sleek body Americans still love her. Due to her popularity and past performances Cameron Diaz secured 7th in our Most Popular Hollywood Actresses in 2014 list. (source: alltoptens.com)</string>
	</array>
	<array>
		<string>Scarlett Johansson</string>
		<string>Scarlett Johansson.jpeg</string>
		<string>Scarlett Johansson – 6th popular Hollywood actress in our list due to her multitasking capability in Singing, Acting and modeling field. This 29-year-old bombshell debuted in 1994 and still active in Hollywood. She won two BAFTA award for Best Actress in a Leading Roll and a couple of Golden globe nominations. Due to her immersing sex appeal capability she is considered as Hollywood’s modern female sex symbol. Recently in the year 2013 Esquire magazine awarded her&amp;nbsp;“Sexiest Woman Alive” Award. (source: alltoptens.com)</string>
	</array>
	<array>
		<string>Mila Kunis</string>
		<string>Mila Kunis.jpeg</string>
		<string>Mila Kunis was born in Ukraine (Then USSR), and at the age of 7 she moved to Los Angeles with her family. In her early teenage years she appeared in several TV commercials. At the age of just 15 Mila Kunis was enrolled into famous TV show “That 70s show”. Mila Kunis was nominated for five Academy awards, but unfortunately she didn’t win any of them. Her acting capability can be seen at films like “Black Swan”. She won two MTV movie award for Best kiss in Ted and Black swan. Mila Kunis is popular due to her acting, calm look and bold characteristics. Mila Kunis secures 5th rank in our Top 10 Most Popular Hollywood Actresses countdown. (source: alltoptens.com)</string>
	</array>
	<array>
		<string>Julia Roberts</string>
		<string>Julia Roberts.jpeg</string>
		<string>Julia Fiona Roberts is the 3rd most popular Actress in Hollywood. Julia Roberts was born on 28th October, 1967 in Atlanta. In the year 2003 she was paid whooping $25 million as fees for her role in Mona Lisa Smile. Along with Acting she has also produced four movies. She was also belonged in the list of “Top 50 World’s most beautiful women”.&amp;nbsp;Julia Roberts received Academy Award for Best Actress for her acting in film “Her Portrayal” in the year 2001. Along with Academy and Golden globe she won several other awards. Julia Roberts net worth is believed to be US $140 million. (source: alltoptens.com)</string>
	</array>
	<array>
		<string>Charlize Theron</string>
		<string>Charlize Theron.jpeg</string>
		<string>Charlize Theron was born on 7th August 1975 in South Africa. This gorgeous African beauty got her American citizenship in late 2007. She is in the industry for a very long time, but she grabbed people’s attention in late 90s with her performance in films like The Cider House Rules, Mighty Joe Young and The Devil’s Advocate. Along with several other awards she won Golden Globe Award, Screen Actors Guild Award, and Academy Award. She is the first ever African actress to win Academy award. (source: alltoptens.com)</string>
	</array>
	<array>
		<string>Marion Cotillard</string>
		<string>Marion Cotillard.jpeg</string>
		<string>Marion Cotillard: this french actress was born on 30 September 1975. She won Golden globe and Academy award for her enormous acting in La Vie en rose. After starting her career in 1993 she was nominated for more than 100 awards, and among then she won many of them. Some of her popular movies are Rust and Bone, Midnight in Paris, Inception, Nine, La Vie en rose etc. Marion Cotillard secured 2nd place in our Most Popular Hollywood Actresses in 2014 countdown due to her acting performance and sexy body. (source: alltoptens.com)</string>
	</array>
	<array>
		<string>Angelina Jolie</string>
		<string>Angelina Jolie.jpeg</string>
		<string>Angelina Jolie: is the Most Popular Hollywood Actresses in 2014. Only the name is enough for this hot angel. Angelina Jolie’s birth name is Angelina Jolie Voight. She was born on June 4, 1975 in California. Her eyes, juicy lips. She doesn’t even bother to be completely naked if the script demands. Multiple Academy nomination. She won Academy Award for Best Supporting Actress for her performance in the drama Girl, Interrupted. This academy award made to increase her name and fame all around the world. Angelina Jolie also awarded 3 Golden Globe awards for Girl Interrupted, Gia and George Wallace. Along with Golden globe and Academy she was nominated for several other awards.</string>
	</array>
</array>
</plist>
